@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

  font-family: "Mulish", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.ag-theme-material .ag-header {
  background-color: #ededf0 !important;
  height: 48px !important;
  display: flex;
  align-items: center;
}
.ag-theme-material .ag-header-cell {
  background-color: #ededf0 !important;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 8px;
}
